<tr class="text-center" id=" ">
  <!-- student name -->
  <td class="align-middle" colspan="4">
    <span><%= student.student.name %></span>
  </td>

  <!-- student result -->
  <td class="align-middle" colspan="2">
    <span>
      <form
        class="result-form"
        method="post"
        action="/interview/result/<%= student.result.id %>"
        id="<%= student.result.id %>"
      >
        <select
          id="result"
          class="form-control"
          style="background-color: #d8d8d8"
          name="result"
        >
          <option selected disabled hidden>
            <%= student.result.resultValue%>
          </option>
          <option value="PASS">PASS</option>
          <option value="FAIL">FAIL</option>
          <option value="On Hold">On Hold</option>
          <option value="Did not attempted">Did not attempted</option>
        </select>
      </form>
    </span>
  </td>

  <% if(locals.user) { %>
  <!-- action -->
  <td class="align-middle" colspan="1">
    <button
      form="<%= student.result.id %>"
      type="submit"
      class="set-result-button"
    >
      Update <i class="fa-solid fa-circle-check"></i>
    </button>
  </td>
  <%}%>
</tr>
